.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #16384c;
}

.App-header {
  height: 10rem;
}

.App-footer {
  height: 10rem;
  
}

.PokeCard-container { /*container*/
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.PokeCard-container .PokeCard { /*card*/
  max-width: 300px;
  height: 215px;
  background: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out;
}

.PokeCard-container .PokeCard:hover{
  height: 500px;
}

.PokeCard-container .PokeCard .ImgBx { /*imgBx*/
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  z-index: 1;
  /* box-shadow: 0 5px 20px rgba(0,0,0,0.2); */
}

.PokeCard-container .PokeCard .ImgBx img{
  max-width: 100%;
  border-radius: 4px;
}


.PokeCard-container .PokeCard .CardContent{ /*content*/
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.PokeCard-container .PokeCard:hover .CardContent{
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

h3, h5, p{
  display: block;
  margin: 0;
  border: 0;
  padding: 0;
}